* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Poppins&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Miniver&family=New+Amsterdam&family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,500;1,600&display=swap');


:root {
  --white-color: #fff;
  --dark-color: #4d4b4bff;
  --primary-color: #3b141c;
  --secondary-color: #f3961c;
  --light-pink-color: #faf4f5;
  --medium-gray-color: #ccc;

  --font-size-s: 0.9em;
  --font-size-n: 1rem;
  --font-size-m: 1.12rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.3rem;

  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --border-radius-s: 8px;
  --border-radius-m: 30px;
  --border-radius-circle: 50%;

  --site-max-width: 1300px;
}

header {
  position: fixed;
  width: 100%;
  z-index: 5;

}

.navbar {
  background-color: #E3E6f3;
  color: black;
  padding: 20px;
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: var(--font-size-m);
  letter-spacing: 0.6px;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-item a {
  text-decoration: none;
  color: black !important;
  transition: color 0.3s;
  position: relative;
  padding: 10px 18px;
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
}

.nav-item a:hover {
  color: #088178 !important;
}

.nav-item a:hover::after,
.nav-item a.active::after {
  width: 65%;
  content: "";
  height: 3px;
  background-color: #088178;
  position: absolute;
  bottom: 4px;
  left: 15px;
}


.menu-btn {
  display: none;
  font-size: 1.4rem;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .nav-list {
    position: fixed;
    top: 5px;
    right: -100%;
    height: 32vh;
    width: 130px;
    background-color: #E3E6f3;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    gap: 20px;
    transition: right 0.3s ease-in-out;
    z-index: 10;
  }

  .nav-list.active {
    right: 0;
  }

  .menu-btn {
    display: block;
    color: black;
  }

  .close-btn {
    margin-left: 2rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: black;
  }
}